In [1]:
from pj_funcs import *
from itertools import compress


def percents(totals,counts):
    frac = pd.DataFrame(columns=list(counts.columns))
    for i in counts.columns:
        count_series = counts[i]
        div_series = count_series/totals
        frac[i] = div_series*100
    return frac

In [4]:
big['MSG_SENDING_FACILITY']

0                       PVHC
1                MARION_HOSP
2            Eskenazi_Health
3                        MJH
4                       SPCP
                ...
29939                   CHNw
29940    Memorial South Bend
29941                   SDMC
29942       St Joe Mishawaka
29943                    PDH
Name: MSG_SENDING_FACILITY, Length: 29944, dtype: object

In [5]:
big['MSG_RECEIVING_FACILITY']

0                    IHIE
1                     NaN
2                     NaN
3                     NaN
4                 ISDH_SS
               ...
29939                 NaN
29940                 NaN
29941             ISDH_SS
29942                 NaN
29943    IN_PUBLIC_HEALTH
Name: MSG_RECEIVING_FACILITY, Length: 29944, dtype: object

In [3]:
from pj_funcs import *

In [2]:
big = pd.read_csv('../data/raw/PHESS_29000.csv', encoding = 'Cp1252')

C:\Users\PGibson\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:

b = []

for i in np.arange(0,len(big)):
    m = hl7.parse(big['MESSAGE'][i])
    if NoError(index,m,'OBX'):
        for j in np.arange(0,len(m['OBX'])):
            if NoError(index,m['OBX'][j],5):
                b.append(str(m['OBX'][j][2:6]))

In [20]:
def index_n(m,ind):
    for i in np.arange(0,len(ind)):
        m = m[ind]
    return m

In [ ]:
b = []

for i in np.arange(0,len(big)):
    m = hl7.parse(big['MESSAGE'][i])
    if NoError(index_n,m,['PID',3,1]):
        b.append(str(m['PID'][3][0][1][0]))

In [79]:
message = hl7.parse(big['MESSAGE'][2])

In [74]:
exme = '''out.append(str(message[\'MSH\'][0][3]))'''

In [65]:
NoError(exec,exme)

False

In [17]:
age = exp[exp.str.contains('age', case=False,na=True)]

In [19]:
age.value_counts().head(10)

NM|21612-7^AGE TIME PATIENT REPORTED^LN||25    195
NM|21612-7^AGE TIME PATIENT REPORTED^LN||19    186
NM|21612-7^AGE TIME PATIENT REPORTED^LN||20    185
NM|21612-7^AGE TIME PATIENT REPORTED^LN||21    184
NM|21612-7^AGE TIME PATIENT REPORTED^LN||26    177
NM|21612-7^AGE TIME PATIENT REPORTED^LN||37    176
NM|21612-7^AGE TIME PATIENT REPORTED^LN||32    175
NM|21612-7^AGE TIME PATIENT REPORTED^LN||24    174
NM|21612-7^AGE TIME PATIENT REPORTED^LN||28    174
NM|21612-7^AGE TIME PATIENT REPORTED^LN||27    174
dtype: int64

In [75]:
complaints[complaints.str.contains('^^^^^^^^')].value_counts()

TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN||Abdominal Pain             342
TX|8661-1^Chief complaint:Find:Pt:SPatient:Nom:Reported^LN||ABD PAIN                  327
TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN||Cough                      285
TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN||Chest Pain                 239
TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN||Shortness of Breath        235
                                                                                     ...
TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN||Fall; Ankle Pain             1
TX|8661-1^CHIEF COMPLAINTVALUE:FIND:PT:PATIENT:NOM:REPORTED^LN||^^^^^^^^COUGH           1
CWE|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN||^^^^^^^^Conjunctivitis      1
CWE|8661-1^CHIEF COMPLAINT REPORTED^LN^43689^^DCT||^^^^^^^^burn left and right leg      1
TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN||Other (Pnemonia)             1
Length: 16693, dtype: int64

In [ ]:
########################
# Annotated Version 
########################

# Specify pattern and compile in RegEx
pat = '(8661-1)|(11292-0)'
pattern = re.compile(pat,re.M|re.I)

# Create empty array for concentated elements to be appended to.  Later merged into 1 string
fives = []
twos = []
threes = []

# Check to see if OBX can be indexed into
if NoError(index,m,'OBX'):
    
    # If so, define obx field as 'sect'
    sect = index(m,'OBX')
    
    #  Loop through repeated OBX fields
    for j in np.arange(0,len(sect)):
        
        # Define obx field in question as 'obx' and create string copy of it called 'searchme'
        obx = sect[j]
        searchme = str(obx)
        
        # Search for RegEx keyword matches within obx string
        match = re.findall(pattern,searchme)
        
        # Initialize OBX2,3,5
        two = ''
        three = ''
        five = ''
        
        # If we have any matches....
        if len(match)>0:
            
            # Check to see if OBX2,OBX3,and OBX5 exist
            if NoError(index,obx,2) & NoError(index,obx,3) & NoError(index,obx,5):
                
                # Define OBX2,3
                two = str(obx[2])
                three = str(obx[3])
                
                # If OBX2 == (CW or CWE)
                if (two == 'CW')|(two == 'CWE'):
                    
                    # Initialize parts
                    pt1 = ''
                    pt2 = ''
                    pt3 = ''
                    five = obx[5]
                    
                    # See if OBX-5.9 exists.  If so, re-define pt 1.
                    if NoError(index_n,five,[0,8]):
                        pt1 = str(index_n(five,[0,8]))
                    
                    # See if OBX-5.2 exists.  If so, re-define pt 2.
                    if NoError(index_n,five,[0,1]):
                        pt2 = str(index_n(five,[0,1]))
                        
                    # See if OBX-5.5 exists.  If so, re-define pt 3.
                    if NoError(index_n,five,[0,4]):
                        pt3 = str(index_n(five,[0,4]))
                        
                        
                    # Add a concetated version (by '^' character) of OBX-5.9,OBX-5.2,OBX-5.5 to list 'fives'
                    fives.append('^'.join([pt1,pt2,pt3]))
                    
                    # Act similar for OBX2, OBX3
                    twos.append(two)
                    threes.append(three)
                    
                    
                # If OBX2 == TX
                elif (two == 'TX'):
                    
                    # Index 5...should work.
                    five = obx[5]
                    
                    # Index OBX5 with a 0 until its a string.
                    while type(five) != str:
                        five = five[0]
                        
                    # Append all of them to the list 'fives'
                    fives.append(five)
                    twos.append(two)
                    threes.append(three)

    # After all repeated fields looped through concetate elements with '|' character
    entry_5 = '|'.join(fives)
    entry_2 = '|'.join(twos)
    entry_3 = '|'.join(threes)
    
    # If we have non-zero length entry for OBX-5, append OBX2,OBX3, and OBX5 parts to respective dataframe locations.
    if len(entry_5)>0:
        df.loc[z,col_name] = entry_5
        df.loc[z,col_name+'_OBX2'] = entry_2
        df.loc[z,col_name+'_OBX3'] = entry_3z

In [ ]:
########################
# How it looks
########################

pat = '(8661-1)|(11292-0)'
pattern = re.compile(pat,re.M|re.I)
two = ''
three = ''
five = ''


fives = []
twos = []
threes = []
if NoError(index,m,'OBX'):
    sect = index(m,'OBX')
    for j in np.arange(0,len(sect)):
        obx = sect[j]
        searchme = str(obx)
        match = re.findall(pattern,searchme)
        two = ''
        three = ''
        five = ''
        if len(match):
            if NoError(index,obx,2) & NoError(index,obx,3) & NoError(index,obx,5):
                two = str(obx[2])
                three = str(obx[3])
                if (two == 'CW')|(two == 'CWE'):
                    pt1 = ''
                    pt2 = ''
                    five = obx[5]
                    
                    if NoError(index_n,five,[0,0]):
                        pt1 = str(index_n(five,[0,0]))
                    if NoError(index_n,five,[0,3]):
                        pt2 = str(index_n(five,[0,3]))
                        
                    fife_dog = '^'.join([pt1,pt2])
                    if len(fife_dog)>1:
                        fives.append(fife_dog)
                        twos.append(two)
                        threes.append(three)

    entry_5 = '|'.join(fives)
    entry_2 = '|'.join(twos)
    entry_3 = '|'.join(threes)
    
    if len(entry_5)>0:
        df.loc[z,col_name] = entry_5
        df.loc[z,col_name+'_OBX2'] = entry_2
        df.loc[z,col_name+'_OBX3'] = entry_3

In [36]:
indexes = np.random.randint(10000,10010,size=(10,2)).astype(str)

In [37]:
data = np.random.randint(-10,10,size=(10,3))

df = pd.DataFrame(data, columns=['random_numbers_1', 'random_numbers_2', 'random_numbers_3'])
df.reset_index()
df['ind1'] = indexes[:,0]
df['ind2'] = indexes[:,1]
df2 = df.set_index(['ind1','ind2'])
df2 = df2.mask(np.random.random(df2.shape) < .5)
df2.isnull()

             random_numbers_1  random_numbers_2  random_numbers_3
ind1  ind2
10001 10001              True             False             False
10002 10001              True             False              True
10001 10001              True             False             False
10003 10009             False              True             False
      10005             False             False             False
10004 10007              True              True             False
10006 10000              True             False              True
10007 10009              True             False             False
10004 10007              True              True              True
10007 10005              True              True              True

In [38]:
data = np.random.randint(-10,10,size=(10,3))

wow = pd.DataFrame(data, columns=['random_numbers_1', 'random_numbers_2', 'random_numbers_3'])
wow.reset_index()
wow['ind1'] = indexes[:,0]
wow['ind2'] = indexes[:,1]
wow2 = wow.set_index(['ind1','ind2'])
wow2 = wow2.mask(np.random.random(wow2.shape) < .5)
wow2.isnull()

             random_numbers_1  random_numbers_2  random_numbers_3
ind1  ind2
10001 10001             False             False              True
10002 10001             False             False             False
10001 10001              True             False              True
10003 10009              True             False              True
      10005              True              True              True
10004 10007              True              True              True
10006 10000              True              True             False
10007 10009              True              True             False
10004 10007              True             False             False
10007 10005             False             False             False

In [39]:
df.reset_index()
df2 = df.set_index(['ind1','ind2'])
df2 = df2.mask(np.random.random(df2.shape) < .5)
df2.isnull()

             random_numbers_1  random_numbers_2  random_numbers_3
ind1  ind2
10001 10001              True             False              True
10002 10001             False             False              True
10001 10001             False             False             False
10003 10009             False             False              True
      10005              True              True             False
10004 10007              True             False              True
10006 10000             False              True             False
10007 10009              True             False             False
10004 10007              True              True             False
10007 10005             False              True              True

In [40]:
(wow2.isnull() | df2.isnull()) | (~wow2.isnull() & ~df2.isnull())

             random_numbers_1  random_numbers_2  random_numbers_3
ind1  ind2
10001 10001              True              True              True
10002 10001              True              True              True
10001 10001              True              True              True
10003 10009              True              True              True
      10005              True              True              True
10004 10007              True              True              True
10006 10000              True              True              True
10007 10009              True              True              True
10004 10007              True              True              True
10007 10005              True              True              True

In [41]:
wow2

             random_numbers_1  random_numbers_2  random_numbers_3
ind1  ind2
10001 10001               1.0              -8.0               NaN
10002 10001               4.0               2.0               7.0
10001 10001               NaN               9.0               NaN
10003 10009               NaN               2.0               NaN
      10005               NaN               NaN               NaN
10004 10007               NaN               NaN               NaN
10006 10000               NaN               NaN              -7.0
10007 10009               NaN               NaN               6.0
10004 10007               NaN               0.0              -9.0
10007 10005               5.0               7.0              -1.0

In [42]:
df2['random_numbers_1'].astype(str).str.split('\.',expand=True)

               0     1
ind1  ind2
10001 10001  nan  None
10002 10001   -6     0
10001 10001    5     0
10003 10009    3     0
      10005  nan  None
10004 10007  nan  None
10006 10000   -4     0
10007 10009  nan  None
10004 10007  nan  None
10007 10005    4     0

In [43]:
df2.isnull()

             random_numbers_1  random_numbers_2  random_numbers_3
ind1  ind2
10001 10001              True             False              True
10002 10001             False             False              True
10001 10001             False             False             False
10003 10009             False             False              True
      10005              True              True             False
10004 10007              True             False              True
10006 10000             False              True             False
10007 10009              True             False             False
10004 10007              True              True             False
10007 10005             False              True              True

In [55]:
b = {'random_numbers_1':['old1','old2','old3'],
    'random_numbers_2':['old11']}
type(b)

dict

In [59]:
def NewCol_to_OldCols(df):

    new_cols = ['random_numbers_1','random_numbers_2']
    b = {'random_numbers_1':['old1','old2','old3'],
    'random_numbers_2':['old11']}

    for i in np.arange(0,len(new_cols)):
        newcol = new_cols[i]
        oldcols = b[newcol]
        for j in np.arange(0,len(oldcols)):
            df[oldcols[j]] = newcol

In [58]:
b['random_numbers_1']

['old1', 'old2', 'old3']

In [44]:
wow3 = wow2.copy()

In [45]:
wow3['random_numbers_4']

             random_numbers_1  random_numbers_2  random_numbers_3
ind1  ind2
10001 10001               1.0              -8.0               NaN
10002 10001               4.0               2.0               7.0
10001 10001               NaN               9.0               NaN
10003 10009               NaN               2.0               NaN
      10005               NaN               NaN               NaN
10004 10007               NaN               NaN               NaN
10006 10000               NaN               NaN              -7.0
10007 10009               NaN               NaN               6.0
10004 10007               NaN               0.0              -9.0
10007 10005               5.0               7.0              -1.0

In [2]:
# Import processed data

data = pd.read_csv('../data/processed/2020_07_22_query.csv')

totals = data.groupby('Fac_name').count().max(axis=1)
counts = data.groupby('Fac_name').count() 
frac = percents(totals,counts)

In [12]:
ctz  =data.count()
totz = pd.Series(np.zeros(44) + len(data))

In [18]:
ctz/len(data)*100

C_Unique_Patient_ID         100.000000
Visit_ID                     98.253607
Facility_Type_Code           83.826879
Sending_Facility_ID         100.000000
C_Facility_ID               100.000000
Treating_Facility_ID         86.788155
Admit_Date_Time              99.924070
Patient_Class_Code           91.040243
Patient_Zip                  97.646166
Admit_Reason_Description     75.550494
Chief_Complaint_Text         92.938497
Diagnosis_Code               37.737282
Diagnosis_Description        37.737282
Processing_ID               100.000000
Trigger_Event               100.000000
C_FacType_Patient_Class      83.826879
C_Patient_Class              91.040243
C_Death                       0.303721
First_Patient_ID            100.000000
Medical_Record_Number       100.000000
C_Patient_Age                83.826879
C_Patient_Age_Units          83.295368
C_Patient_Age_Years          83.826879
Message_Date_Time           100.000000
Recorded_Date_Time          100.000000
Discharge_Disposition        35.383447
Discharge_Date_Time          34.472285
Administrative_Sex          100.000000
Age_Reported                 83.219438
C_Patient_County             90.888383
Age_Units_Reported           83.295368
Race_Code                    95.368261
Ethnicity_Code               87.623386
Ethnicity_Description        75.550494
Patient_City                 97.646166
C_Chief_Complaint            95.520121
Patient_State                96.735004
Patient_Country              92.862566
Admit_Reason_Code            75.550494
Chief_Complaint_Code         96.962794
Diagnosis_Type               37.737282
Version_ID                  100.000000
Message                     100.000000
Fac_name                    100.000000
dtype: float64

In [14]:
totz

0     1317.0
1     1317.0
2     1317.0
3     1317.0
4     1317.0
5     1317.0
6     1317.0
7     1317.0
8     1317.0
9     1317.0
10    1317.0
11    1317.0
12    1317.0
13    1317.0
14    1317.0
15    1317.0
16    1317.0
17    1317.0
18    1317.0
19    1317.0
20    1317.0
21    1317.0
22    1317.0
23    1317.0
24    1317.0
25    1317.0
26    1317.0
27    1317.0
28    1317.0
29    1317.0
30    1317.0
31    1317.0
32    1317.0
33    1317.0
34    1317.0
35    1317.0
36    1317.0
37    1317.0
38    1317.0
39    1317.0
40    1317.0
41    1317.0
42    1317.0
43    1317.0
dtype: float64

In [114]:
# read exported SQL Query
query_data = pd.read_csv('../data/raw/export.csv', encoding='Cp1252')

max_query_data = query_data.groupby('FACILITY_NAME').count().max(axis=1)
counts_query_data = query_data.groupby('FACILITY_NAME').count() 

# use percents function to test for completeness
query_completeness = percents(max_query_data,counts_query_data)

# check for completeness of 'CHIEF COMPLAINT TEXT' where it is less than 100 complete
weird_rows = og_completeness['CHIEF_COMPLAINT_TEXT'][og_completeness['CHIEF_COMPLAINT_TEXT']<100]
weird_rows

Series([], Name: CHIEF_COMPLAINT_TEXT, dtype: float64)

In [165]:
data[data['Chief_Complaint_Text'].isnull() & ~data['C_Chief_Complaint'].isnull()][['Chief_Complaint_Text','C_Chief_Complaint']]

     Chief_Complaint_Text                                  C_Chief_Complaint
95                    NaN  Unspecified rotator cuff tear or rupture of ri...
221                   NaN                                     abdominal pain
226                   NaN                                        Dental Pain
253                   NaN  2 bumps on the back of head started yesterday ...
342                   NaN                   Trochanteric bursitis, right hip
349                   NaN                            cough, exposed to covid
445                   NaN                       LUQ pain, hx of peptic ulcer
514                   NaN                            Foreign body, swallowed
588                   NaN                                       cough, fever
602                   NaN                                       1: Back pain
603                   NaN                                         CHEST PAIN
688                   NaN                                      FACIAL INJURY
715                   NaN                               1: FINGER LACERATION
738                   NaN                                           abd pain
755                   NaN               "thinks she has a parasite", itching
770                   NaN                        OD heroin, 2mg narcan given
843                   NaN                URINARY CATHETER CHECK OR INSERTION
914                   NaN                                       med 31, stab
915                   NaN                                       med 31, stab
937                   NaN                        1: FOREGIN OBJECT IN VAGINA
957                   NaN                                            ANXIETY
958                   NaN  M5.  44YoM.  Found down.  Narcan.  BP 144/palp...
959                   NaN  M5.  44YoM.  Found down.  Narcan.  BP 144/palp...
986                   NaN                                  1: Abdominal pain
1014                  NaN                                           VOMITING
1032                  NaN                                     ABDOMINAL PAIN
1066                  NaN  MVC, restrained passenger, -LOC, R side back p...
1076                  NaN                                                 HA
1080                  NaN                          R foot pain, R elbow pain
1145                  NaN                                           Abd pain
1146                  NaN                                           Abd pain
1164                  NaN                                1: EAR FOREGIN BODY
1198                  NaN                                     anxiety attack
1240                  NaN                                         CHEST PAIN
1244                  NaN                                           Dog bite
1268                  NaN                   ALCOHOL INTOXICATION PSYCHIATRIC
1308                  NaN              VAGINAL BLEEDING LESS 20 WKS PREGNANT

In [156]:
query_NaNs = np.array(query_data['CHIEF_COMPLAINT_TEXT']=='Missing chief complaint')
query_NaNs_count = sum(query_NaNs)

In [157]:
data_NaNs = np.array([data['Chief_Complaint_Text'][i] != data['Chief_Complaint_Text'][i] for i in np.arange(0,len(data))])
data_NaNs_count = data['C_Chief_Complaint'].count()

In [158]:
# Find where I have an NaN and where the query does not
odd_cond = data_NaNs & ~query_NaNs

# use itertools function compress to get indeces of true values in boolean list
odd_indeces = list(compress(range(len(odd_cond)), odd_cond))
odd_indeces

[95,
 221,
 226,
 253,
 342,
 349,
 369,
 370,
 384,
 445,
 514,
 588,
 602,
 603,
 605,
 688,
 707,
 715,
 738,
 745,
 755,
 770,
 843,
 914,
 915,
 937,
 957,
 958,
 959,
 986,
 1014,
 1032,
 1066,
 1076,
 1080,
 1145,
 1146,
 1164,
 1198,
 1233,
 1240,
 1244,
 1247,
 1268,
 1276,
 1308]

In [152]:
messages = data['Message']

for i in np.arange(0,len(odd_indeces)):
    m = hl7.parse(messages[i])
    for j in m['OBX']:
        print(j)
    print('\n --------------- \n')

OBX|1|TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|1|Vaginal bleeding since June 10, abd pain, has appt with PCP in Aug||||||F|||20200722094200
OBX|2|CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2|225XN1300X^PRIMARY CARE^NUCC||||||F|||20200722094200
OBX|3|XAD|SS002^TREATING FACILITY LOCATION^PHINQUESTION|3|720 ESKENAZI AVE^^INDIANAPOLIS^INDIANA^46202-5166^USA^^^18097||||||F|||20200722094200
OBX|4|NM|21612-7^AGE TIME PATIENT REPORTED^LN|4|27|a^YEAR^UCUM|||||F|||20200722094258
OBX|5|TX|10182-4^TRAVEL HISTORY^LN|5|No||||||F|||20200722094200

 ---------------

OBX|1|TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|1|Headache started yesterday, bump on back of nack/head||||||F|||20200722093850
OBX|2|CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2|225XN1300X^PRIMARY CARE^NUCC||||||F|||20200722093850
OBX|3|XAD|SS002^TREATING FACILITY LOCATION^PHINQUESTION|3|720 ESKENAZI AVE^^INDIANAPOLIS^INDIANA^46202-5166^USA^^^18097||||||F|||20200722093850
OBX|4|NM|21612-7^AGE TIME PATIENT REPORTED^LN|4|35|a^YEAR^UCUM|||||F|||20200722094128
OBX|5|TX|10182-4^TRAVEL HISTORY^LN|5|No||||||F|||20200722093850

 ---------------

OBX|1|TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|1|Headache started yesterday, bump on back of nack/head||||||F|||20200722093500
OBX|2|CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2|225XN1300X^PRIMARY CARE^NUCC||||||F|||20200722093500
OBX|3|XAD|SS002^TREATING FACILITY LOCATION^PHINQUESTION|3|720 ESKENAZI AVE^^INDIANAPOLIS^INDIANA^46202-5166^USA^^^18097||||||F|||20200722093500
OBX|4|NM|21612-7^AGE TIME PATIENT REPORTED^LN|4|35|a^YEAR^UCUM|||||F|||20200722093847
OBX|5|TX|10182-4^TRAVEL HISTORY^LN|5|No||||||F|||20200722093500

 ---------------

OBX|1|TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|1|sore throat, cough||||||F|||20200722093100
OBX|2|CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2|225XN1300X^PRIMARY CARE^NUCC||||||F|||20200722093100
OBX|3|XAD|SS002^TREATING FACILITY LOCATION^PHINQUESTION|3|720 ESKENAZI AVE^^INDIANAPOLIS^INDIANA^46202-5166^USA^^^18097||||||F|||20200722093100
OBX|4|NM|21612-7^AGE TIME PATIENT REPORTED^LN|4|19|a^YEAR^UCUM|||||F|||20200722093542
OBX|5|TX|10182-4^TRAVEL HISTORY^LN|5|No||||||F|||20200722093100

 ---------------

OBX|1|TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|1|not able to taste or smell||||||F|||20200722092625
OBX|2|CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2|225XN1300X^PRIMARY CARE^NUCC||||||F|||20200722092625
OBX|3|XAD|SS002^TREATING FACILITY LOCATION^PHINQUESTION|3|720 ESKENAZI AVE^^INDIANAPOLIS^INDIANA^46202-5166^USA^^^18097||||||F|||20200722092625
OBX|4|NM|21612-7^AGE TIME PATIENT REPORTED^LN|4|27|a^YEAR^UCUM|||||F|||20200722093331
OBX|5|TX|10182-4^TRAVEL HISTORY^LN|5|No||||||F|||20200722092625

 ---------------

OBX|1|TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|1|not able to taste or smell||||||F|||20200722092300
OBX|2|CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2|225XN1300X^PRIMARY CARE^NUCC||||||F|||20200722092300
OBX|3|XAD|SS002^TREATING FACILITY LOCATION^PHINQUESTION|3|720 ESKENAZI AVE^^INDIANAPOLIS^INDIANA^46202-5166^USA^^^18097||||||F|||20200722092300
OBX|4|NM|21612-7^AGE TIME PATIENT REPORTED^LN|4|27|a^YEAR^UCUM|||||F|||20200722092615
OBX|5|TX|10182-4^TRAVEL HISTORY^LN|5|No||||||F|||20200722092300

 ---------------

OBX|1|TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|1|pt here for infusion clinic appoint , came by ambulance. m11. sent straight up for pts appoint. was not seen by md in ed. ||||||F|||20200722092200
OBX|2|CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2|225XN1300X^PRIMARY CARE^NUCC||||||F|||20200722092200
OBX|3|XAD|SS002^TREATING FACILITY LOCATION^PHINQUESTION|3|720 ESKENAZI AVE^^INDIANAPOLIS^INDIANA^46202-5166^USA^^^18097||||||F|||20200722092200
OBX|4|NM|21612-7^AGE TIME PATIENT REPORTED^LN|4|67|a^YEAR^UCUM|||||F|||20200722092600
OBX|5|TX|10182-4^TRAVEL HISTORY^LN|5|No||||||F|||20200722092200

 ---------------

OBX|1|NM|21612-7^AGE TIME PATIENT REPORTED^LN||87|a^year^UCUM|||||F
OBX|2|CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION||261QE0002X^EMERGENCY CARE^NUCC||||||F
OBX|3|XAD|SS002^TREATING FACILITY LOCATION^PHINQUESTION||1100 REID PKWY^^RICHMOND^18^47374-1157^USA^^^18177||||||F
OBX|4|TX|54094-8^EMERGENCY DEPARTMENT TRIAGE NOTE^LN||Bed: ED1701 Expected date: 7/22/20 Expected time:  Means of arrival:  Comments:||||||F

 ---------------

OBX|1|TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN||Cough|^^|||||F
OBX|2|NM|21612-7^AGE TIME PATIENT REPORTED^LN||4|a^year^UCUM|||||F
OBX|3|CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION||261QE0002X^EMERGENCY CARE^NUCC|^^|||||F
OBX|4|XAD|SS002^TREATING FACILITY LOCATION^PHINQUESTION||3500 S LAFOUNTAIN ST^^KOKOMO^18^46902-3803^USA^^^18067|^^|||||F
OBX|5|TX|54094-8^TRIAGE NOTE:FIND:PT:EMERGENCY DEPARTMENT:DOC^LN||Pt went swimming on Saturday and grandma states he has had cough and runny  nose since swimming  Unable to get vitals at this time Pt is autistic and uncooperative|^^|||||F

 ---------------

In [ ]:
message

In [99]:
np.array(data['C_Chief_Complaint'])

array(['Vaginal bleeding since June 10, abd pain, has appt with PCP in Aug',
       'Headache started yesterday, bump on back of nack/head',
       'Headache started yesterday, bump on back of nack/head', ...,
       '^^^^^^^^Vomiting up blood', 'abdominal pain, nausea',
       'Altered Mental Status'], dtype=object)

In [100]:
len(data['C_Chief_Complaint'])

1317

In [104]:
data['Message'][0]

'MSH|^~\\&|EPICSYN|Eskenazi_Health^1.2.840.114350.1.13.455.2.7.7.696570.101001^ISO|||20200722094258||ADT^A04^ADT_A01|9125071|P|2.5.1|||||||||PH_SS-NoAck^SS Sender^2.16.840.1.114222.4.10.3^ISO\rEVN||20200722094255|||||ESKHOSP^1.2.840.114350.1.13.455.2.7.7.696570.101001^ISO\rPID|1||018573998^^^EHS^MR||^Kayla^^^^^D~^Kayla^^^^^L||19930515|F||2054-5^Black or African American^CDCREC|3640 IDELWOOD PKWY 1701^^INDIANAPOLIS^Indiana^46214^USA^^^18097||^^^^^^\rPV1|||^^^ESKHOSP||||||||||||||||10045894896^^^~1.2.840.114350.1.13.455.2.7.7.737384.131~ISO^VN^~1.2.840.114350.1.13.455.2.7.7.696570.1~ISO|||||||||||||||||||||||||20200722094200\rPV2|||^Vaginal bleeding since June 10, abd pain, has appt with PCP in Aug\rOBX|1|TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|1|Vaginal bleeding since June 10, abd pain, has appt with PCP in Aug||||||F|||20200722094200\rOBX|2|CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2|225XN1300X^PRIMARY CARE^NUCC||||||F|||20200722094200\rOBX|3|XAD|SS002^TREATING FACILITY LOCATION^PHINQUESTION|3|720 ESKENAZI AVE^^INDIANAPOLIS^INDIANA^46202-5166^USA^^^18097||||||F|||20200722094200\rOBX|4|NM|21612-7^AGE TIME PATIENT REPORTED^LN|4|27|a^YEAR^UCUM|||||F|||20200722094258\rOBX|5|TX|10182-4^TRAVEL HISTORY^LN|5|No||||||F|||20200722094200\r'

In [105]:
data

,C_Unique_Patient_ID,Visit_ID,Facility_Type_Code,Sending_Facility_ID,C_Facility_ID,Treating_Facility_ID,Admit_Date_Time,Patient_Class_Code,Patient_Zip,Admit_Reason_Description,...,Patient_City,C_Chief_Complaint,Patient_State,Patient_Country,Admit_Reason_Code,Chief_Complaint_Code,Diagnosis_Type,Version_ID,Message,Fac_name
0,018573998,10045894896,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,20200722094200,NaN,46214,"Vaginal bleeding since June 10, abd pain, has ...",...,INDIANAPOLIS,"Vaginal bleeding since June 10, abd pain, has ...",Indiana,USA,"|Vaginal bleeding since June 10, abd pain, has...","TX|LN|Vaginal bleeding since June 10, abd pain...",NaN,2.5.1,MSH|^~\&|EPICSYN|Eskenazi_Health^1.2.840.11435...,Eskenazi
1,015327976,10045894634,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,20200722093850,NaN,46218,"Headache started yesterday, bump on back of na...",...,INDIANAPOLIS,"Headache started yesterday, bump on back of na...",Indiana,USA,"|Headache started yesterday, bump on back of n...","TX|LN|Headache started yesterday, bump on back...",NaN,2.5.1,MSH|^~\&|EPICSYN|Eskenazi_Health^1.2.840.11435...,Eskenazi
2,015327976,10045894634,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,20200722093500,NaN,46218,"Headache started yesterday, bump on back of na...",...,INDIANAPOLIS,"Headache started yesterday, bump on back of na...",Indiana,USA,"|Headache started yesterday, bump on back of n...","TX|LN|Headache started yesterday, bump on back...",NaN,2.5.1,MSH|^~\&|EPICSYN|Eskenazi_Health^1.2.840.11435...,Eskenazi
3,014951545,10045894471,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,20200722093100,NaN,46224,"sore throat, cough",...,INDIANAPOLIS,"sore throat, cough",Indiana,USA,"|sore throat, cough","TX|LN|sore throat, cough",NaN,2.5.1,MSH|^~\&|EPICSYN|Eskenazi_Health^1.2.840.11435...,Eskenazi
4,020439774,10045894076,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,20200722092625,NaN,46222,not able to taste or smell,...,Indianapolis,not able to taste or smell,Indiana,USA,|not able to taste or smell,TX|LN|not able to taste or smell,NaN,2.5.1,MSH|^~\&|EPICSYN|Eskenazi_Health^1.2.840.11435...,Eskenazi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,E4804676,8226399794,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1356435341,1356435341,1356435341,20200722000032,E,47905,NaN,...,LAFAYETTE,abd pain|Abdominal Pain,IN,USA,NaN,NM|LN|98.9,W,2.5.1,MSH|^~\&|MU2SS|FELE^1356435341^NPI|SYNDROMIC|I...,St. Elizabeth East
1313,1118074,105464114,CWE|SS003^Facility / Visit Type^PHINQUESTION|2...,1679674956,1679674956,1679674956,20200722000000,E,46761,Altered Mental Status,...,LAGRANGE,Altered Mental Status,IN,USA,|Altered Mental Status,TX|LN|Altered Mental Status,F,2.5.1,MSH|^~\&|EPIC|PARKVIEW LAGRANGE^1679674956^NPI...,Parkview LaGrange
1314,74421298,000742182140,NaN,HNA500,HNA500,NaN,20200722000042,E,47421,Vomiting up blood,...,Bedford,^^^^^^^^Vomiting up blood,IN,US,|Vomiting up blood,CWE|DCT|Vomiting up blood,NaN,2.5.1,MSH|^~\&|ADTOUT|HNA500|IHIE|IHIE|2020072203173...,Bedford Regional
1315,1000377778,1000377778,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1467504555,1467504555,1467504555,20200722000056,E,46404,"abdominal pain, nausea",...,GARY,"abdominal pain, nausea",18,US,"|abdominal pain, nausea","TX|LN|abdominal pain, nausea",F,2.5.1,MSH|^~\&|EPIC|NORTHLAKE^1467504555^NPI|||20200...,Methodist Northlake
1316,1118074,105464114,CWE|SS003^Facility / Visit Type^PHINQUESTION|2...,1679674956,1679674956,1679674956,20200722000000,E,46761,Altered Mental Status,...,LAGRANGE,Altered Mental Status,IN,USA,|Altered Mental Status,TX|LN|Altered Mental Status,F,2.5.1,MSH|^~\&|EPIC|PARKVIEW LAGRANGE^1679674956^NPI...,Parkview LaGrange

In [106]:
frac

,C_Unique_Patient_ID,Visit_ID,Facility_Type_Code,Sending_Facility_ID,C_Facility_ID,Treating_Facility_ID,Admit_Date_Time,Patient_Class_Code,Patient_Zip,Admit_Reason_Description,...,Ethnicity_Description,Patient_City,C_Chief_Complaint,Patient_State,Patient_Country,Admit_Reason_Code,Chief_Complaint_Code,Diagnosis_Type,Version_ID,Message
Fac_name,,,,,,,,,,,,,,,,,,,,,
<UNKNOWN>,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.000000,...,100.0,100.0,100.000000,100.0,100.0,100.000000,100.0,33.333333,100.0,100.0
Adams Memorial,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.000000,...,100.0,100.0,100.000000,100.0,100.0,100.000000,100.0,53.846154,100.0,100.0
Ball Memorial,100.0,100.0,0.0,100.0,100.0,0.0,100.0,100.0,100.0,100.000000,...,0.0,100.0,100.000000,100.0,100.0,100.000000,100.0,0.000000,100.0,100.0
Bedford Regional,100.0,100.0,0.0,100.0,100.0,0.0,100.0,100.0,100.0,100.000000,...,0.0,100.0,100.000000,100.0,100.0,100.000000,100.0,0.000000,100.0,100.0
Blackford Community,100.0,100.0,0.0,100.0,100.0,0.0,100.0,100.0,100.0,100.000000,...,0.0,100.0,100.000000,100.0,100.0,100.000000,100.0,0.000000,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WIC Parkview Ortho Express,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,71.428571,...,100.0,100.0,71.428571,100.0,100.0,71.428571,100.0,57.142857,100.0,100.0
WIC Parkview Wabash,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,50.000000,...,100.0,100.0,50.000000,100.0,100.0,50.000000,100.0,25.000000,100.0,100.0
Witham Health at Anson,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.000000,...,100.0,100.0,100.000000,100.0,0.0,100.000000,100.0,100.000000,100.0,100.0
Witham Memorial Hospital,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.000000,...,100.0,100.0,100.000000,100.0,0.0,100.000000,100.0,71.428571,100.0,100.0
Woodlawn Hospital,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,0.000000,...,100.0,100.0,50.000000,100.0,100.0,0.000000,100.0,0.000000,100.0,100.0

In [109]:
query_data['CHIEF_COMPLAINT_TEXT']==

0       Vaginal bleeding since June 10, abd pain, has ...
1       Headache started yesterday, bump on back of na...
2       Headache started yesterday, bump on back of na...
3                                     sore throat, cough
4                             not able to taste or smell
                              ...
1312                             abd pain Abdominal Pain
1313                               Altered Mental Status
1314                                   Vomiting up blood
1315                              abdominal pain, nausea
1316                               Altered Mental Status
Name: CHIEF_COMPLAINT_TEXT, Length: 1317, dtype: object

In [ ]:
message = list(data[data['Fac_name']=='WIC Parkview Ortho Express']['Message'])[0]
m = hl7.parse(message)
data[data['Fac_name']=='WIC Parkview Ortho Express']['Message']

In [61]:
# Make autocomplete a little bit quicker
%config Completer.use_jedi = False
from pj_funcs import *

##########################################################################

# Import past few days' PHESS data
file = pd.read_csv('../data/raw/PHESS_29000.csv', encoding = 'Cp1252')

# Import NSSP_Priority Elements csv file to be used in my custom ADT-parsing function
reader = pd.read_csv('../data/processed/column_guide_with_key.csv')

##########################################################################

# impliment my custom ADT-parsing function
f = HL7_PHESS_parser(reader,file,Timed=True)

# Run the completeness function!
comp = facvisit_completeness_report(f, Timed=True)

# Manually edit indeces of output dataframe :|
comp.set_index(['Facility','Num_Visits'], inplace=True)

C:\Users\PGibson\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

KeyboardInterrupt:

In [65]:
# Make autocomplete a little bit quicker
%config Completer.use_jedi = False
from pj_funcs import *

##########################################################################

# Import past few days' PHESS data
file = pd.read_csv('../data/raw/export.csv', encoding = 'Cp1252')

# Import NSSP_Priority Elements csv file to be used in my custom ADT-parsing function
reader = pd.read_csv('../data/processed/column_guide_with_key.csv')

##########################################################################

# impliment my custom ADT-parsing function
f = HL7_PHESS_parser(reader,file,Timed=True)

# Run the completeness function!
comp = facvisit_completeness_report(f, Timed=True)

# Manually edit indeces of output dataframe :|
comp.set_index(['Facility','Num_Visits'], inplace=True)

Time Elapsed:   58.866  seconds

C:\Users\PGibson\Documents\HL7_Parsing\python\pj_funcs.py:574: RuntimeWarning: invalid value encountered in true_divide
  empty.loc[facility,:] = (countz/visit_count)*100

Time Elapsed:   4.509 seconds

In [ ]:
f

In [67]:
f.columns

Index(['C_Unique_Patient_ID', 'Visit_ID', 'Facility_Type_Code',
       'Sending_Facility_ID', 'C_Facility_ID', 'Treating_Facility_ID',
       'Admit_Date_Time', 'Patient_Class_Code', 'Patient_Zip',
       'Admit_Reason_Description', 'Chief_Complaint_Text', 'Diagnosis_Code',
       'Diagnosis_Description', 'Processing_ID', 'Trigger_Event',
       'C_FacType_Patient_Class', 'C_Patient_Class', 'C_Death',
       'First_Patient_ID', 'Medical_Record_Number', 'C_Patient_Age',
       'C_Patient_Age_Units', 'C_Patient_Age_Years', 'Message_Date_Time',
       'Recorded_Date_Time', 'Discharge_Disposition', 'Discharge_Date_Time',
       'Administrative_Sex', 'Age_Reported', 'C_Patient_County',
       'Age_Units_Reported', 'Race_Code', 'Ethnicity_Code',
       'Ethnicity_Description', 'Patient_City', 'C_Chief_Complaint',
       'Patient_State', 'Patient_Country', 'Admit_Reason_Code',
       'Chief_Complaint_Code', 'Diagnosis_Type', 'Version_ID', 'MESSAGE',
       'FACILITY_NAME', 'PATIENT_VISIT_NUMBER', 'PATIENT_MRN',
       'Facility_Type_Code_0', 'Facility_Type_Code_1', 'Facility_Type_Code_2',
       'Admit_Reason_Description_0', 'Admit_Reason_Description_1',
       'Chief_Complaint_Text_0', 'Chief_Complaint_Text_1',
       'Chief_Complaint_Text_2', 'Chief_Complaint_Text_3',
       'Chief_Complaint_Text_4', 'Chief_Complaint_Text_5',
       'Chief_Complaint_Text_6', 'Chief_Complaint_Text_7',
       'Chief_Complaint_Text_8', 'Diagnosis_Code_0', 'Diagnosis_Code_1',
       'Diagnosis_Description_0', 'Diagnosis_Description_1',
       'C_FacType_Patient_Class_0', 'C_FacType_Patient_Class_1',
       'C_FacType_Patient_Class_2', 'C_Patient_Age_0', 'C_Patient_Age_1',
       'C_Patient_Age_2', 'C_Patient_Age_Years_0', 'C_Patient_Age_Years_1',
       'C_Patient_Age_Years_2', 'Admit_Reason_Code_0', 'Admit_Reason_Code_1',
       'Admit_Reason_Code_2', 'Chief_Complaint_Code_0',
       'Chief_Complaint_Code_1', 'Chief_Complaint_Code_2'],
      dtype='object', name='Processed Column')

In [74]:
f['Chief_Complaint_Text_3']

0                                                    None
1                                                    None
2                                                    None
3                                                    None
4                                                    None
                              ...
1312    8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REP...
1313                                                 None
1314                                                 None
1315                                                 None
1316                                                 None
Name: Chief_Complaint_Text_3, Length: 1317, dtype: object

In [76]:
f.iloc[1312]['Chief_Complaint_Text']

'TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|abd painTX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|Abdominal Pain'

In [85]:
f[~f['Chief_Complaint_Text_5'].isnull()]['Chief_Complaint_Text'].iloc[1]

'TX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|N/V, Throat Pain FeverTX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|EmesisTX|8661-1^CHIEF COMPLAINT:FIND:PT:PATIENT:NOM:REPORTED^LN|Headache'

In [ ]:
f['']

In [60]:
from pj_funcs import *

In [13]:
OBX_threes = pd.Series(LIKE(f.columns,'_2')).str[:-2]

In [4]:
f.head()

Processed Column,C_Unique_Patient_ID,Visit_ID,Facility_Type_Code,Sending_Facility_ID,C_Facility_ID,Treating_Facility_ID,Admit_Date_Time,Patient_Class_Code,Patient_Zip,Admit_Reason_Description,...,C_Patient_Age_2,C_Patient_Age_Years_0,C_Patient_Age_Years_1,C_Patient_Age_Years_2,Admit_Reason_Code_0,Admit_Reason_Code_1,Admit_Reason_Code_2,Chief_Complaint_Code_0,Chief_Complaint_Code_1,Chief_Complaint_Code_2
0,018573998,10045894896,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,20200722094200,NaN,46214,"Vaginal bleeding since June 10, abd pain, has ...",...,27,NM,21612-7^AGE TIME PATIENT REPORTED^LN,27,NaN,"Vaginal bleeding since June 10, abd pain, has ...",NaN,TX,LN,"Vaginal bleeding since June 10, abd pain, has ..."
1,015327976,10045894634,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,20200722093850,NaN,46218,"Headache started yesterday, bump on back of na...",...,35,NM,21612-7^AGE TIME PATIENT REPORTED^LN,35,NaN,"Headache started yesterday, bump on back of na...",NaN,TX,LN,"Headache started yesterday, bump on back of na..."
2,015327976,10045894634,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,20200722093500,NaN,46218,"Headache started yesterday, bump on back of na...",...,35,NM,21612-7^AGE TIME PATIENT REPORTED^LN,35,NaN,"Headache started yesterday, bump on back of na...",NaN,TX,LN,"Headache started yesterday, bump on back of na..."
3,014951545,10045894471,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,20200722093100,NaN,46224,"sore throat, cough|",...,19,NM,21612-7^AGE TIME PATIENT REPORTED^LN,19,NaN,"sore throat, cough",NaN,TX,LN,"sore throat, cough"
4,020439774,10045894076,CWE|SS003^FACILITY / VISIT TYPE^PHINQUESTION|2...,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,1.2.840.114350.1.13.455.2.7.7.696570.101001,20200722092625,NaN,46222,not able to taste or smell|,...,27,NM,21612-7^AGE TIME PATIENT REPORTED^LN,27,NaN,not able to taste or smell,NaN,TX,LN,not able to taste or smell

In [6]:
f['C_Patient_Age_0']

0        NM
1        NM
2        NM
3        NM
4        NM
       ...
1312     NM
1313     NM
1314    NaN
1315     NM
1316     NM
Name: C_Patient_Age_0, Length: 1317, dtype: object

In [89]:
hl7.parse(file['MESSAGE'][0])['OBX'][3][5]

['27']

In [7]:
LIKE(f['C_Patient_Age_0'],'NM')

TypeError: argument of type 'float' is not iterable

In [ ]:
for i in OBX_threes:

In [23]:
f[OBX_threes[0]].str.contains('.',na=False)

0        True
1        True
2        True
3        True
4        True
        ...
1312     True
1313     True
1314    False
1315     True
1316     True
Name: Facility_Type_Code, Length: 1317, dtype: bool

In [24]:
OBX_threes[]

0         Facility_Type_Code
1       Chief_Complaint_Text
2    C_FacType_Patient_Class
3              C_Patient_Age
4        C_Patient_Age_Years
5          Admit_Reason_Code
6       Chief_Complaint_Code
dtype: object

In [31]:
~f['C_Patient_Age_2'].str.contains('\d',na=True)

0       False
1       False
2       False
3       False
4       False
        ...
1312    False
1313    False
1314    False
1315    False
1316    False
Name: C_Patient_Age_2, Length: 1317, dtype: bool